@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Pages*/

.page-header {
 color:#000000;
}

/*navigation*/

.header-navigation {
  display: flex;
  justify-content: flex-end;
  width: 1160px;
}

.header-logo-navigation-container {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  background-color: #FFE17F;
  }

.navigation-main-list,
.navigation-user-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-list {
  margin-top: 66px;
  margin-right: 26px;
}

.navigation-main-list {
  margin-bottom: 45px;
  margin-right: 45px;
}

.navigation-user-item:nth-child(1) {
  min-width: 231px;
}

.navigation-main-item:nth-child(1) {
 margin-right: auto;
 margin-left: 60px;
}

.navigation-user-item {
  display: block;
  background-color: #FFE17F;
  font-weight: 400;
  text-align: left;
  margin-right: 26px;
}

.navigation-user-itemm:nth-child(3) {
  margin-right: 0px;
}

.navigation-link-user {
  color: #000000;
  text-decoration: none;
}

.search-form {
  color: #000000;
  background-color: #FFE17F;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  margin-top: 66px;
  min-width: 517px;
  margin-right: 26px;
}

.navigation-link-main {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.navigation-main-item {
  display: block;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  background-color: #FFE17F;
  text-align: left;
  margin-right: 45px;
}


.navigation-main-item:nth-child(4) {
  margin-right: 0px;
}

.main-navigation {
  margin-top: 30px;
  margin-right: 60px;
}

.header-logo-container {
  margin-left: 60px;
}

.user-navigation {
 margin-right: 60px;
}

/*main*/

.main-conteiner {
  flex-grow: 1;
 }

.page-conteiner {
  width: 1160px;
  margin: 0 auto;
}

.navigation-yellow {
  background-color: #FFE17F;
}

.main-index {
  color: #000000;
}

/*slider*/

.slider-products {
  margin-bottom: 70px;
}

.slider-number {
 color: #FFFFFF;
 background-color: #FFE17F;
 font-weight: 700;
 font-size: 180px;
 line-height: 30px;
 text-align: right;

}

.slider-item {
  list-style: none;
  margin: 0;
  padding: 0;
 }

.slider-item li {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.slider-container {
  display: flex;

}

.slider-number-container {
  display: block;
  width: 1160px;
  height: 300px;
  background-color: #FFE17F;
  margin: 0;
  padding: 0;
}

.slider-container img {
  width: 560px;
  height: 560px;
  margin: 0;
  padding: 0;
  margin-top: -150px;
}

.slider-text-container{
  width: 560px;
  height: 401px;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  margin-top: -25px;
}

.slider-data-container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.slider-data-meaning {
  width: 160px;
}

.slider-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 29px;
}

.slider-title-description {
  color: #444444;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 50px;
}

/*slider link*/

.slider-quadrocopter-more,
.slider-fitness-bracelet-more,
.slider-selfie-stick-more {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.slider-data-number {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 12px;
}

/*catalog*/

.catalog {
  margin-bottom: 70px;
}

.catalog-image-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.catalog-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.catalog-item {
  min-width: 160px;
}

/*slider-service*/

.slider-servise-container {
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.slider-service {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0;
  padding: 0;
  margin: 0 auto;

}

.slider-service-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 287px;
  margin: 0;
  padding: 0;
}

.slider-service-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: start;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
}

.slider-service-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.slider-service-filling {
  margin: 0;
  padding: 0;
}

.slider-service-filling-item {
  list-style: none;
  margin: 72px 63px 73px 116px;
}


/*rare-product*/

.rare-product {
  margin-bottom: 70px;
}

.rare-product-button {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background: #F0F0F0;
  margin: 40px 125px;
}

.rare-product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1160px;
  min-height: 100px;
  background-color: #F0F0F0;
}

/*contact and about us*/

.about-us-contacts {
 color: #444444;
 width: 1160px;
 height: 545px;
 display: flex;
 margin: 0 auto;
 justify-content: space-between;
 margin-bottom: 70px;
}

.about-us {
 width: 520px;
 height: 493px;
}

.contacts {
 width: 532px;
 height: 545px;
 margin-left: 108px;
}

.about-us-contacts h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin: 47px 0px;
}

.about-us p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.about-us-transport-companies-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-bottom: 19px;
  list-style-type: none;
}

.about-us-transport-companies {
  margin-bottom: 30px;
}

.about-us-contacts-phone {
  color: #444444;
}

.contacts-subtitle {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

/*buttons*/

.button-write-to-us {
  font-family: 'Raleway';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FFFFFF;
  line-height: 21px;
}

.button-about-us {
  font-family: 'Raleway';
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

/*subscribe*/

.subscribe-container {
  display: flex;
  justify-content: center;
  min-height: 421px;
  background-color:#F0F0F0;
  margin: 0 auto;
}

.subscribe {
  display: flex;
  width: 1160px;
  flex-wrap: wrap;
  background-color:#F0F0F0;
}

.subscribe-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 348px;
  min-height: 100px;
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 144;
}

.subscribe-description {
  width: 560px;
  min-height: 90px;
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-left: 252px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-form {
  width: 810px;
  min-height: 57px;
  margin-top: 144px;
  margin-right: 144px;
}

.button-subscribe-form {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-form-is-free {
  margin: 0;
  padding: 0;
  margin-top: 144px;
}

/*second pade*/

.inner-header-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-left: 60px;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-bottom: 34px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-item {
 margin-right: 36px;
}

/*catalog*/

.catalog-product {
  background: #F0F0F0;
  display: flex;
}

.catalog-filter-group {
 width: 320px;
}

.catalog-filter-title {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-item {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button-catalog {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-right-column {
  display: grid;
  width: 840px;
}

.catalog-right-menu-container {
  display: flex;
  width: 840px;
}

.celect-name {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-top: 25px;
  margin-right: 206px;
  margin-bottom: 25px;
}

.select-control {
  margin-top: 25px;
  margin-right: 206px;
  margin-bottom: 25px;
}

.button-product {
  width: 30px;
  height: 30px;
  margin: 25px 0px;
}

/*sorting*/

.celect-name {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {

  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #F0F0F0
}

/*product-card*/

.product-card {
  background: #FFFFFF;
 }

.product-card-title {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.button-product-card-show-more {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  min-width: 760px;
  min-height: 52px;
  margin-bottom: 44px;
  margin-left: 40px;
}

.product-card-list {
  display: grid;
  grid-template-columns: 360px 360px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 44px 40px;
  margin: 70px 40px 44px 40px;
}

/*pagination*/

.pagination {
  display: flex;
  background: #EBEBEB;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background: #EBEBEB;
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  background: #EBEBEB;
}

.pagination-item {
  width: 40px;
  height: 40px;
}

.pagination-prev {
  padding: 25px;
  font-family: 'Raleway';
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
}

.pagination-next {
  padding: 25px;
  font-family: 'Raleway';
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
  text-align: end;
}

/*footer*/

.footer-contacts {
 margin-top: 137px;
}

.footer-page {
  background: #444444;
  color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  min-height: 321px;
  margin: 0 auto;
  padding: 0;
}

.footer-navigation-link {
  background: #444444;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-address,
.footer-contacts-phone-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-adress-conteiner {
  margin-top: 35px;
}

.logo-adress-container {
 width: 250px;
 margin-top: 62px;
}

.footer-navigation {
 display: flex;
 justify-content: center;
 margin: 0;
 padding: 0;
}

.footer-phone-logo-conteiner {
  text-align: right;
  width: 250px;
  min-height: 116px;
  margin-bottom: 63px;
}

.footer-social-list {
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin: 0;
 padding: 0;
 margin-top: 62px;

}

.footer-sotial-item {
  min-width: 40px;
  min-height: 40px;
  margin-right: 15px;
  text-decoration: none;
  list-style: none;
}

.footer-contacts-phone {
  margin-top: 140px;
  margin-bottom: 63px;
}

.footer-navigation-item {
  margin-left: 35px;
  list-style: none;
}
